

<p>
  <strong>Submission:</strong>
  <%= @grade.submission_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @grade.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @grade.comment %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
