<script type='text/javascript'>
$(function(){
	$('#assignment_id').change(function(){
		window.location="<%= view_comments_path(':id') %>".replace(':id',$(this).val());
	});
});
</script>
<div class='page-header'>
	<h1>Comments on <%= @assignment.name %></h1>
	<p>Select assignment: <%= collection_select :assignment, "id",  @assignments, :id, :name, {:selected => @assignment.id}, {:class=>'form-control'} %></p>
	<p><%= link_to "Return to gradebook", assignments_gradebook_path, style:"color:white" %></p>
</div>
<div class='row'>
	<% @submissions.each do |submission| %>
		<div class='col-md-12'>
			<h2><%= submission.title %> by <%= User.find(submission.user_id).name %> <small><%= link_to "view", submission, :style=>'color:white' %></small></h2>
			<ul>
				<% submission.comments.each do |comment| %>
					<li><b><%= comment.user.name %></b>: <%= comment.comment %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>