<!DOCTYPE html>

<p id="notice"><%= notice %></p>

<!--create assignment button -->
<% if current_user.admin? %>

  <table class="table">
    <thead>
    <tr>
      <th style="color:white">Name </th>
      <% @assignments.each do |assignment| %>
          <th style="color:white"> Note für <%= assignment.name%> </th>
      <%end%>
      <th style="color:white"> Durchschnittsnote </th>
    </tr>
     </thead>

 

  <tbody>
   <% @users.each do |user| %>
      <tr>
        <td> <%= user.name %></td>
        <% sum = 0%>
        <% grades=Array.new %>
        <%@assignments.each do |assignment| %>
          <%@submission = Submission.where(assignment_id: assignment.id, user_id: user.id)%>
          <%if @submission.exists? && !@submission.first.grades.empty? %>
            <% current_grade=@submission.first.grades.first.grade %>
            <td><%= current_grade %></td>
            <% grades << current_grade %>
          <%else%>
            <td></td>
          <%end%>
        <%end%>
        <%
        factored_assignments=[grades.size,@max_assignments].min

        %>
        <td><%=grades.sort.last(factored_assignments).inject(:+) / factored_assignments unless factored_assignments == 0%></td>

       <br>
      </tr>

    <%end%>
  </tbody>
</table>

<br>
<%end%>
