


<!--create assignment button -->
<% if current_user.admin? %>
<div class="btn-group" role="group" aria-label="...">
 <%= link_to 'neue Hausaufgabe erstellen', new_assignment_path, :class=>"btn btn-primary" %>
</div>
<%end%>
<!-- table for assignments -->

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th>Filmtitel </th>
      <th>Abgabetermin </th>
      <th><%if current_user.admin? %> Hausaufgabe bearbeiten <%else%> Hausaufgabe absenden <%end%></th>
    </tr>
     </thead>

 

  <tbody>
   <% @assignments.each do |assignment| %>
    
      <tr>
        <td> <%= link_to assignment.name, {:controller => "submissions", :action => "index", :assignment_id => assignment.id} %></td>
        <td> <%= assignment.deadline.strftime("%A, %B, %d at %I:%M %p") %></td>
        <% if current_user.admin? %> 
        <td><%= link_to 'Hausaufgabe bearbeiten', edit_assignment_path(assignment)%></td>
        <% else %>
        <!-- doesn't work: -->
        <%if Submission.where(assignment_id: assignment.id, user_id: current_user.id).blank?%>
          <td><%=link_to 'Hausaufgabe absenden', {:controller => "submissions", :action => "new", :assignment_id => assignment.id}%></td>
        <% else %>
          <%@submission = Submission.where(assignment_id: assignment.id, user_id: current_user.id).first%>
          <td><%=link_to 'editieren des Beitrags', edit_submission_path(@submission)%></td>
        <%end%>
        <%end%>
        
       <br>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>




