<!DOCTYPE html>
<html>
<head>
  <title>GER 130A</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "German Culture Through Film", assignments_path, class:"navbar-brand", style:"color:white" %>
    </div>



    <!-- NAV BAR -->
    <div class="collapse-navbar-collapse">
      <% if user_signed_in? %>
      <ul class="nav-navbar-nav">
        
         <li><%= link_to "Home", assignments_path , style:"color:white"%></li>
             <% if !current_user.admin?%>
                 <li><%= link_to "My Submissions", submissions_mysubmiss_path, style:"color:white" %></li>
                 <li><%= link_to "Class Vocabulary",  assignments_classvocab_path, style:"color:white" %></li>
                 <!-- change path!: -->
                 <li><%= link_to "My Bookmarks", bookmarks_path, style:"color:white" %></li> 
             <%end%>
            <% if current_user.admin? %>
                  <!-- change path!: -->
                  <li><%= link_to "Grade Book", assignments_gradebook_path, style:"color:white" %></li> 
           <% end %>
         <li id="navbar-right"> <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, style:"color:white;font-family: verdana") %> </li>
         <%end%>
       
      </ul>

      
      <ul class="nav=navbar-nav-navbar-right">
        <% if user_signed_in? %>

        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<%= yield %>
</div>
<footer class="footer">
      <div class="container">
        <p class="text-muted">Please contact <a href='mailto:brandeisapprenticeship@gmail.com'>brandeisapprenticeship@gmail.com</a> with any questions</p>
      </div>
    </footer>
</body>
</html>

