<!DOCTYPE HTML>
<p id="notice"><%= notice %></p>

<% @assignments.each do |assignment| %>
  <h2> Assignment:  <%= assignment.name%></h2>
  <br>
  <% @bookmarks.each do |bookmark| %>
    <%if bookmark.submission.assignment == assignment%>
          <h3><%= link_to bookmark.submission.title, bookmark.submission%></h3>
          <h5><%= bookmark.submission.name%></h5>
          <audio controls>
          <source src= <%=bookmark.submission.audio_url%> type="audio/mp4"> <!--needs to be mp3-->
         </audio>

        <table border="2px" style="white-space: pre-wrap" padding="200px" >
          <thead ><tr><h1> Notecard: </h1></tr></thead>
          <tbody>
            <tr>
            <td><%= bookmark.submission.notecard.html_safe %></td>
            </tr>
            </tbody>
            <br>
        </table>
        <br>
        
        <%end%>
        <br>
      <%end%>
<%end%>
 