<!DOCTYPE html>

<p id="notice"><%= notice %></p>

<!--create assignment button -->
<% if current_user.admin? %>

  <table class="table">
    <thead>
    <tr>
      <th style="color:white">Name </th>
      <th style="color:white">Email </th>
      <% @assignments.each do |assignment| %>
          <th style="color:white"> Note für <%= assignment.name%> </th>
      <%end%>
      <th style="color:white"> Durchschnittsnote </th>
    </tr>
     </thead>

 

  <tbody>
   <% @users.each do |user| %>
      <tr>
        <td> <%= user.name %></td>
        <td> <%= user.email %></td>
        <%sum = 0%>
        <%@assignments.each do |assignment| %>
          <%@submission = Submission.where(assignment_id: assignment.id, user_id: user.id)%>
          <%if @submission.exists?%>
            <td><%= @submission.first.grade %></td>
            <%sum = sum + @submission.first.grade%>
          <%else%>
            <td></td>
          <%end%>
        <%end%>
        <td><%=sum / @assignments.count unless @assignments.count == 0%></td>

       <br>
      </tr>

    <%end%>
  </tbody>
</table>

<br>
<%end%>
