<p id="notice"><%= notice %></p>

<!--<h1>German Film</h1>-->

<!--create assignment button -->
<% if current_user.admin? %>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Create New Assignment', new_assignment_path %> </button>
</div>
<%end%>
<!-- table for assignments -->

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th colspan="9">Film Title </th><th colspan="3">Due Date </th><th colspan="3"><th > View Submissions</th><th colspan="3"><%if current_user.admin? %> Edit Assignment <%else%> Submit Assignment <%end%></th>
    </tr>
     </thead>
  <!--</table>-->
</div>
 

  <tbody>
   <% @assignments.each do |assignment| %>
    
      <tr>
        <td> <%= assignment.name %></td>
        <td> <%= assignment.deadline.strftime("%A, %B, %d at %I:%M %p") %></td>
        <td><%= link_to 'Show Submissions', assignment %></td> <!-- NEED TO CHANGE LINK -->
        <% if current_user.admin? %> 
        <td><%= link_to 'Edit Assignment', edit_assignment_path(assignment) %></td>
        <% else %>
        <td><%=link_to 'Submit', assignment%></td>
        <%end%>
        <!--<td><%= link_to 'Destroy Assignment', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
       <br>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>




