<p id="notice"><%= notice %></p>

<h1>German Film</h1>

<!--create assignment button -->
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Create New Assignment', new_assignment_path %> </button>
</div>
<!-- table for assignments -->
<table>
  <!-- header -->
  <thead>
    <tr>
      <th colspan="9">Film Title   | </th><th colspan="3">Due Date    | </th><th colspan="3">View Submissions  |  </th><th colspan="3">Submit Assignment</th>
    </tr>
  </thead>

  <tbody>
    <!-- <% @assignments.each do |assignment| %> -->
    
      <tr>
        <td> skjgsoigj </td>
        <td> lkgng </td>
        <!-- <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <!-- <% end %> -->
  </tbody>
</table>

<br>




