
<p id="notice"><%= notice %></p>

<!--create assignment button -->
<% if current_user.admin? %>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Create New Assignment', new_assignment_path %> </button>
</div>
<%end%>
<!-- table for assignments -->

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th style="color:white">Film Title </th>
      <th style="color:white">Due Date </th>
      <th style="color:white"> View Submissions</th>
      <th style="color:white"><%if current_user.admin? %> Edit Assignment <%else%> Submit Assignment <%end%></th>
    </tr>
     </thead>

 

  <tbody>
   <% @assignments.each do |assignment| %>
    
      <tr>
        <td> <%= assignment.name %></td>
        <td> <%= assignment.deadline.strftime("%A, %B, %d at %I:%M %p") %></td>
        <td><%= link_to 'Link to Class Submissions', {:controller => "submissions", :action => "index", :assignment_id => assignment.id}%></td>
        <% if current_user.admin? %> 
        <td><%= link_to 'Edit Assignment', edit_assignment_path(assignment) %></td>
        <% else %>
        <!-- doesn't work: -->
        <%if Submission.where(assignment_id: assignment.id, user_id: current_user.id).blank?%>
          <td><%=link_to 'Submit Assignment', {:controller => "submissions", :action => "new", :assignment_id => assignment.id}%></td>
        <% else %>
          <%@submission = Submission.where(assignment_id: assignment.id, user_id: current_user.id).first%>
          <td><%=link_to 'Edit Submission', edit_submission_path(@submission)%></td>
        <%end%>
        <%end%>
        <!--<td><%= link_to 'Destroy Assignment', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
       <br>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>




