<!DOCTYPE HTML>
<p id="notice"><%= notice %></p>

<% @assignment.each do |assignment| %>
  <h2> Assignment:  <%= assignment.name%></h2>
  <br>
  <% @bookmarks.each do |bookmark| %>
          <h3><%= bookmark.submission.title%></h3>
          <h5><%= bookmark.submission.author%></h5>
          <audio controls>
        	<source src= <%=bookmark.submission.audio_url%> type="audio/mp4"> <!--needs to be mp3-->
         </audio>

        <table border="2px" style="white-space: pre-wrap" padding="200px" >
        	<thead ><tr><h1> Notecard: </h1></tr></thead>
        	<tbody>
        		<tr>
        			<!--stop showing <p></p> signs!!--> 
        		<td><%= bookmark.submission.notecard %></td>
            </tr>
            </tbody>
            <br>
        </table>
        <br>
        
        <h2> Vocabulary: </h2>
        <!-- change color on click? -->
        <!-- add change for german words -->
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%=bookmark.submission.vocab_english_1%> </button>
        </div>
        <br>
        <br>
        
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%=bookmark.submission.vocab_english_2%> </button>
        </div>
        <br>
        <br>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%=bookmark.submission.vocab_english_3%> </button>
        </div>
        <br>
        
        <br>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%=bookmark.submission.vocab_english_4%> </button>
        </div>
        <br>
        <br>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%=bookmark.submission.vocab_english_5%> </button>
        </div>
        
        <%end%>
        <br>
<%end%>
 