

<h1>Beiträge aller Studenten zu <%=@assignment.name%></h1>
<p><%=@assignment.description.html_safe%></p>

<h4> fällig am: <%= @assignment.deadline.strftime("%m/%d/%Y %I:%M %p")%> </h4>

<table class="table">
    <thead>
    <tr>
      <th>Name </th>
      <th>Titel des Beitrags </th>
      <th> Zahl der Lesezeichen</th>
      <%if current_user.admin?%>
      <th> eingereicht: </th>
      <th> aktualisiert:</th>
      <th>Bewertung (1 - 10)</th>
      <%end%>
    </tr>
     </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td> <%= submission.name %></td>
        <td><%= link_to submission.title, submission %></td>
        <td><%= Bookmark.where(submission_id: submission.id).count %></td>
        <%if current_user.admin?%>
          <%if submission.created_at > @assignment.deadline%>
            <td style="background-color:#E8EE79; color:red"> <%=submission.created_at.strftime("%m/%d/%Y %I:%M %p")%></td>
            <td style="background-color:#E8EE79; color:red"> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
          <%else%>
            <td> <%=submission.created_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%if submission.updated_at > @assignment.deadline%>
                <td style="background-color:#E8EE79; color:red"> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%else%>
                <td> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%end%>
          <%end%>
          <%if !submission.grades.empty? %>
            <td><%= submission.grades.first.grade %></td>
          <%end%>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>



