<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="form-group">
  <!-- assignment information need to be put in -->
  
<br> <br>

            <%= f.label :title,"Post Title", class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.text_field :title, class:'form-control' %>
              <br>
            </div>
          </div>
<div class="form-group">
    <%= f.label :notecard, class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <br>
      <%= f.text_area :notecard, :cols => "120", :rows => "10" %>
    </div>
 <div class="form-group">
    <%= f.label :vocabulary, class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <br>
      <%= f.text_area :vocabulary, :cols => "120", :rows => "10" %>
    </div>   

<!--why isn't it worrkinnnggg -->
<div class="form-group">
  <%= f.hidden_field  :author, value: current_user.id %>
  <%=f.hidden_field :name, value: current_user.name %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
