<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<h1><%=@assignment.name%></h1>
<h3><%=@assignment.description.html_safe%></h3>
<%=f.hidden_field :assignment_id, value: @assignment.id%>
<%=f.hidden_field :user_id, value: current_user.id%>
<%=f.hidden_field :name, value: current_user.name %>
<div class="form-group">
  
<br> <br>

            <%= f.label :title,"Post Title", class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.text_field :title, class:'form-control' %>
              <br>
            </div>
          </div>

  <!-- audio -->
<div class="form-group">
    <%= f.label :audio, class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <br>
      <%= audio_tag(@submission.audio_url) if @submission.audio? %>
      <%= f.file_field :audio %>
      
    </div>  
  </div>
  <!-- notecard -->
<div class="form-group">
    <%= f.label :notecard, class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <br>
      <!--make it into Deutsch-->
      <%= f.cktext_area :notecard, :ckeditor => {:language => 'en'}, maxlength: 1000 %>
    </div>
</div>

<!-- vocab -->
 <div class="form-group">
    <%= f.label :"English Vocab 1", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_english_1, :cols => "120", :rows => "10" %>
    </div> 
     <%= f.label :"English Vocab 2", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_english_2, :cols => "120", :rows => "10" %>
    </div>  
  </div> 
 <!-- <div class="form-group">
   
  </div>  --> 
 <!-- <div class="form-group"> -->
    <%= f.label :"English Vocab 3", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_english_3, :cols => "120", :rows => "10" %>
    </div>
    <!-- </div> -->
 <div class="form-group">
    <%= f.label :"English Vocab 4", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_english_4, :cols => "120", :rows => "10" %>
    </div>
    </div>
 <div class="form-group">
    <%= f.label :"English Vocab 5", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_english_5, :cols => "120", :rows => "10" %>
    </div>
    </div>
 <div class="form-group">
    <%= f.label :"German Vocab 1", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_ger_1, :cols => "120", :rows => "10" %>
    </div>
    </div>
 <div class="form-group">
    <%= f.label :"German Vocab 2", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_ger_2, :cols => "120", :rows => "10" %>
    </div>
    </div>
 <div class="form-group">
    <%= f.label :"German Vocab 3", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_ger_3, :cols => "120", :rows => "10" %>
    </div>
    </div>
 <div class="form-group">
    <%= f.label :"German Vocab 4", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_ger_4, :cols => "120", :rows => "10" %>
    </div>
    </div>
 <div class="form-group">
    <%= f.label :"German Vocab 5", class:'control-label col-md-2' %>
    <div class='col-md-10'>
      <%= f.text_field :vocab_ger_5, :cols => "120", :rows => "10" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>