<p id="notice"><%= notice %></p>

<h1>Class Submissions for </h1>

<table class="table">
    <thead>
    <tr>
      <th>Student Name </th>
      <th>Submission </th>
      <th > Number Of Bookmarks</th>
      <th><%if current_user.admin? %> Grade Out of 10 <%end%></th>
    </tr>
     </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td> <%= submission.name %></td>
        <td><%= link_to submission.title, submission%></td>
        <td><%= 'number of bookmarks here' %></td>
        <%if current_user.admin?%>
          <td><%='grade here'%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <%= link_to 'New Submission', new_submission_path %> -->


