<p id="notice"><%= notice %></p>

<h1>Class Submissions for <%=@assignment.name%></h1>  

<h4> Due at: <%= @assignment.deadline.strftime("%m/%d/%Y %I:%M %p")%> </h4>

<table class="table">
    <thead>
    <tr>
      <th>Student Name </th>
      <th>Submission </th>
      <th > Number Of Bookmarks</th>
      <th><%if current_user.admin?%> Submitted At </th>
      <th> Updated At</th>
      <th>Grade Out of 10  <%end%></th>
    </tr>
     </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td> <%= submission.name %></td>
        <td><%= link_to submission.title, submission%></td>
        <td><%= Bookmark.where(submission_id: submission.id).count %></td>
        <%if current_user.admin?%>
          <%if submission.created_at > @assignment.deadline%>
            <td style="color:red"> <%=submission.created_at.strftime("%m/%d/%Y %I:%M %p")%></td>
            <td style="color:red"> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
          <%else%>
            <td> <%=submission.created_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%if submission.updated_at > @assignment.deadline%>
                <td style="color:red"> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%else%>
                <td> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%end%>
          <%end%>
          <%if submission.grade != nil %>
            <td><%= submission.grade%></td>
          <%end%>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
  </tbody>
</table>

<!-- <%= link_to 'New Submission', new_submission_path %> -->


