<p id="notice"><%= notice %></p>

<h1>Class Submissions for <%=@assignment.name%></h1>  
<!-- needs film name -->

<table class="table">
    <thead>
    <tr>
      <th>Student Name </th>
      <th>Submission </th>
      <th > Number Of Bookmarks</th>
      <th><%if current_user.admin? %> Grade Out of 10 <%end%></th>
    </tr>
     </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td> <%= submission.name %></td>
        <td><%= link_to submission.title, submission%></td>
        <td><%= Bookmark.where(submission_id: submission.id).count %></td>
        <%if current_user.admin?%>
          <%if submission.grade != nil %>
              <td><%= submission.grade%></td>
          <%else%>
              <%= form_for(Grade.new) do |f| %>
              <div class="field">
                <%= f.label :grade %><br>
                <%= f.number_field :grade %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
          <%end%>
          <%end%>
          <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <%= link_to 'New Submission', new_submission_path %> -->


