<p id="notice"><%= notice %></p>

<h1>Beiträge aller Studenten zu <%=@assignment.name%></h1>  

<h4> fällig am: <%= @assignment.deadline.strftime("%m/%d/%Y %I:%M %p")%> </h4>

<table class="table">
    <thead>
    <tr>
      <th style="color:white">Name </th>
      <th style="color:white">Titel des Beitrags </th>
      <th style="color:white"> Zahl der Lesezeichen</th>
      <th style="color:white"><%if current_user.admin?%> eingereicht: </th>
      <th style="color:white"> aktualisiert:</th>
      <th style="color:white">Bewertung (1 - 10)  <%end%></th>
    </tr>
     </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td> <%= submission.name %></td>
        <td><%= link_to submission.title, submission, style:"color:#E8EE79"%></td>
        <td><%= Bookmark.where(submission_id: submission.id).count %></td>
        <%if current_user.admin?%>
          <%if submission.created_at > @assignment.deadline%>
            <td style="background-color:#E8EE79; color:red"> <%=submission.created_at.strftime("%m/%d/%Y %I:%M %p")%></td>
            <td style="background-color:#E8EE79; color:red"> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
          <%else%>
            <td> <%=submission.created_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%if submission.updated_at > @assignment.deadline%>
                <td style="background-color:#E8EE79; color:red"> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%else%>
                <td> <%=submission.updated_at.strftime("%m/%d/%Y %I:%M %p")%></td>
              <%end%>
          <%end%>
          <%if submission.grade != nil %>
            <td><%= submission.grade%></td>
          <%end%>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
  </tbody>
</table>

<!-- <%= link_to 'New Submission', new_submission_path %> -->


