<!DOCTYPE html>

<p id="notice"><%= notice %></p>
<h1>My Submissions </h1>

<table class="table">
    <thead>
    <tr>
      <th>Submission Title </th>
      <th > Number Of Bookmarks</th>
    </tr>
     </thead>

  <tbody>
    <%if @submission != nil %>
    <% @submission.each do |submission| %>
      <tr>
        <td><%= link_to submission.title, submission%></td>
<<<<<<< HEAD
        <td><%= @bookmark.count %></td>
        <td><%= submission.grade%></td>
=======
        <td><%= 'number of bookmarks here' %></td>
>>>>>>> 4dd63472c8d95ef81d14505cf7fe5c0b6c403b3b
      </tr>
      <%end%>
  <%end%>
  </tbody>
</table>

<!-- <%= link_to 'New Submission', new_submission_path %> -->
