<p id="notice"><%= notice %></p>

<div class="btn-group" role="group" aria-label="..."  >
	<th>

		<%if current_user.id == @submission.user_id%>  <!-- needs to be for author only -->
    <button type="button" class="btn btn-default" style="background-color:#E8D879"><%= link_to 'Edit Submission', edit_submission_path(@submission), style:"color:#7538CF" %> </button> 
    <%end%>

    <button type="button" class="btn btn-default" style="background-color:#E8D879"><%= link_to 'Return to Class Submissions', {:controller => "submissions", :action => "index", :assignment_id => @submission.assignment_id}, style:"color:#7538CF" %> </button>
  </th>
</div>


<h1 class="submission-info"> <%= @submission.title %></h1>
<h4 class="submission-info" id="author-user">Author: <%= @submission.name%></h4>


<h2> Audio: </h2>
<audio controls>
	<source src= <%=@submission.audio_url%> type="audio/mp4"> <!--needs to be mp3-->
  </audio>

  <table border="3px solid black" style="white-space: pre-wrap" padding="200px" >
   <thead ><tr><h2> Notecard: </h2></tr></thead>
   <tbody>
    <tr>
      <td width="40%"><%= @submission.notecard.html_safe %></td>
    </tr>
  </tbody>
  <br>
</table>
<br>

<h2> Vocabulary: </h2>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="flip">
                <div class="card">
                    <div class="face front">
                        <div class="well well-sm inner"><%=@submission.vocab_ger_1%></div>
                    </div>
                    <div class="face back">
                        <div class="well well-sm inner"><%=@submission.vocab_english_1%></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="flip">
                <div class="card">
                    <div class="face front">
                        <div class="well well-sm inner"><%=@submission.vocab_ger_2%></div>
                    </div>
                    <div class="face back">
                        <div class="well well-sm inner"><%=@submission.vocab_english_2%></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="flip">
                <div class="card">
                    <div class="face front">
                        <div class="well well-sm inner"><%=@submission.vocab_ger_3%></div>
                    </div>
                    <div class="face back">
                        <div class="well well-sm inner"><%=@submission.vocab_english_3%></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="flip">
                <div class="card">
                    <div class="face front">
                        <div class="well well-sm inner"><%=@submission.vocab_ger_4%></div>
                    </div>
                    <div class="face back">
                        <div class="well well-sm inner"><%=@submission.vocab_english_4%></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="flip">
                <div class="card">
                    <div class="face front">
                        <div class="well well-sm inner"><%=@submission.vocab_ger_5%></div>
                    </div>
                    <div class="face back">
                        <div class="well well-sm inner"><%=@submission.vocab_english_5%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%if current_user.admin? or @submission.user_id == current_user.id %>
<div class="panel-group gradeinfo gradevalue" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne" style="background-color:#E8D879">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#7538CF">
          Grade
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%=form_for(@submission) do |f|%>
          <%if current_user.admin?%>
            <%= f.label :grade %><br>
            <%= f.number_field :grade, :step => 0.5 %>
            <%= f.submit "Save Grade" %>
          <%else%>
            <%= f.label :grade %><br>
            <%= f.number_field :grade, :step => 0.5, :disabled => true%>
          <%end%>
        <%end%>
        <br>
        <div class="form-group">
          <%if @gradecomments.empty?%>
          <%= form_for(GradeComment.new) do |f| %>
            <%if current_user.admin?%>
              <%= f.text_area :comment, size: "30x10", maxlength: 400  %>
              <%= f.hidden_field :user_id, value: current_user.id%>
              <%= f.hidden_field :submission_id, value: @submission.id%>
              <%= f.submit "Save Comment" %>
            <%else%>
              <h5>No comment submitted</h5>
            <%end%>
          <%end%>
          <%else%>
          <%= form_for(@gradecomments.first) do |f| %>
            <%if current_user.admin?%>
              <%= f.text_area :comment, size: "30x10", maxlength: 400 %>
              <%= f.hidden_field :user_id, value: current_user.id%>
              <%= f.hidden_field :submission_id, value: @submission.id%>
              <%= f.submit "Save Comment"%>
            <%else%>
              <%= f.text_area :comment, size: "30x10", maxlength: 400, readonly: true%>
            <%end%>
          <%end%>
          <%end%>
        </div>
        <%end%>
      </div>
    </div>

  </div>


</div>

<div id="bookmark">
  <%if (@submission.user_id != current_user.id && !Bookmark.where(submission_id: @submission.id, user_id: current_user.id).exists?)%>
  <%= form_for(Bookmark.new) do |f| %>
  <div class="form-group">
    <%= f.hidden_field  :user_id, value: current_user.id %>
    <%=f.hidden_field :submission_id, value: @submission.id %>
    <%= f.submit "Bookmark This!"%>
  </div>
  <% end %>
  <%end%>
</div>


<h2>Comments:</h2>
<%@comments.each do |comment|%>
<div id="comments">
  <%=comment.comment%>
  <br><br>
  <div id="author-user"><%=User.find(comment.user_id).name%></div>
</div>
<hr style="height: 5px"/>
<%end%>
<br>
<%=form_for(Comment.new) do |f|%>
  <%=f.label :comment, 'Add a Comment'%><br>
  <%=f.text_area :comment, size: "100x5" %><br>
  <%=f.hidden_field :user_id, value: current_user.id%>
  <%=f.hidden_field :submission_id, value: @submission.id%>

  <%=f.submit "Save Comment"%>
<%end%>
</div>
<br>

<script>
    $('.flip').click(function(){
        $(this).find('.card').toggleClass('flipped');

    });
</script>

