<p id="notice"><%= notice %></p>

<div class="btn-group" role="group" aria-label="...">
	<th>

		<%if current_user.id == @submission.user_id%>  <!-- needs to be for author only -->
		<button type="button" class="btn btn-default"><%= link_to 'Edit Submission', edit_submission_path(@submission) %> </button> 
		<%end%>
	</th>
  
  <button type="button" class="btn btn-default"><%= link_to 'Return to Class Submissions', {:controller => "submissions", :action => "index", :assignment_id => @submission.assignment_id} %> </button>
</div>

<h1> <%= @submission.title %></h1>
<h4>Author: <%= @submission.name%></h4s>
<h2> Audio: </h2>

<audio controls>
	<source src= <%=@submission.audio_url%> type="audio/mp4"> <!--needs to be mp3-->
</audio>
<!-- this border though-->
<table border="2px" style="white-space: pre-wrap" padding="200px" >
	<thead ><tr><h1> Notecard: </h1></tr></thead>
	<tbody>
		<tr>
		<td width="40%"><%= @submission.notecard.html_safe %></td>
    </tr>
    </tbody>
    <br>
</table>
<br>

<h2> Vocabulary: </h2>
<!-- change color on click? -->
<!-- add change for german words -->
<div class="vocab-eng" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_english_1%> </button>
</div>
<div class="vocab-eng" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_english_2%> </button>
</div>
<br>
<br>
<div class="vocab-eng" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_english_3%> </button>
</div>
<br>

<br>
<div class="vocab-eng" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_english_4%> </button>
</div>
<br>
<br>
<div class="vocab-eng" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_english_5%> </button>
</div>

<div class="vocab-ger" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_ger_1%> </button>
</div>
<div class="vocab-ger" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_ger_2%> </button>
</div>
<br>
<br>
<div class="vocab-ger" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_ger_3%> </button>
</div>
<br>
<br>
<div class="vocab-ger" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_ger_4%> </button>
</div>
<br>
<br>
<div class="vocab-ger" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%=@submission.vocab_ger_5%> </button>
</div>



<%if current_user.admin? or @submission.user_id == current_user.id %>
<h2> Grade: <%= @submission.grade %></h2>
<%end%>

<%if current_user.admin?%>
      <%= form_for(@submission) do |f| %>
        <%= f.label :grade %><br>
        <%= f.number_field :grade %>
        <%= f.submit "Save Grade" %>
      <%end%>
<%end%>

<%if current_user.admin?%>
  <%if @gradecomments.empty?%>
      <%= form_for(GradeComment.new) do |f| %>
        <%= f.text_area :comment %>
        <%= f.hidden_field :user_id, value: current_user.id%>
        <%= f.hidden_field :submission_id, value: @submission.id%>
        <%= f.submit %>
      <%end%>
  <%else%>
      <%= form_for(@gradecomments.first) do |f| %>
        <%= f.text_area :comment %>
        <%= f.hidden_field :user_id, value: current_user.id%>
        <%= f.hidden_field :submission_id, value: @submission.id%>
        <%= f.submit %>
      <%end%>
  <%end%>
<%end%>

<%if (@submission.user_id != current_user.id && !Bookmark.where(submission_id: @submission.id, user_id: current_user.id).exists?)%>
<%= form_for(Bookmark.new) do |f| %>
<div class="form-group">
  <%= f.hidden_field  :user_id, value: current_user.id %>
  <%=f.hidden_field :submission_id, value: @submission.id %>
  <%= f.submit "Bookmark This!"%>
</div>
<% end %>

<%end%>



<h2>Comments:</h2>
<%@comments.each do |comment|%>
	<div>
		<%=comment.comment%>
		<%=User.find(comment.user_id).name%>
	</div>
<%end%>

<%=form_for(Comment.new) do |f|%>
			<%=f.label :comment, 'Add a Comment'%><br>
			<%=f.text_area :comment %><br>
			<%=f.hidden_field :user_id, value: current_user.id%>
			<%=f.hidden_field :submission_id, value: @submission.id%>
			
			<%=f.submit "Save Comment"%>
		<%end%>
</div>


