<p id="notice"><%= notice %></p>

<div class="btn-group" role="group" aria-label="...">
	<th>

		<%if current_user.id == @submission.author%>  <!-- needs to be for author only -->
		<button type="button" class="btn btn-default"><%= link_to 'Edit Submission', edit_submission_path(@submission) %> </button> 
		<%end%>
	</th>
  
  <button type="button" class="btn btn-default"><%= link_to 'Return to Class Submissions', submissions_path %> </button>
</div>

<h1> <%= @submission.title %></h1>
<h4>Author: <%= @submission.name%></h4s>
<h2> Audio: </h2>

<audio controls>
	<source src= <%=@submission.audio_url%> type="audio/mp4"> <!--needs to be mp3-->
</audio>
<!-- this border though-->
<table border="2px" style="white-space: pre-wrap" padding="200px" >
	<thead ><tr><h1> Notecard: </h1></tr></thead>
	<tbody>
		<tr>
			<!--stop showing <p></p> signs!!--> 
		<td><%= @submission.notecard %></td>
    </tr>
    </tbody>
    <br>
</table>
<br>

<h2> Vocabulary: </h2>

<%= @submission.vocab_english_1%>	&nbsp;&nbsp;&nbsp;&nbsp;	<%= @submission.vocab_ger_1%>
<br>
<%= @submission.vocab_english_2%>	&nbsp;&nbsp;&nbsp;&nbsp;	<%= @submission.vocab_ger_2%>
<br>
<%= @submission.vocab_english_3%>	&nbsp;&nbsp;&nbsp;&nbsp;	<%= @submission.vocab_ger_3%>
<br>
<%= @submission.vocab_english_4%>	&nbsp;&nbsp;&nbsp;&nbsp;	<%= @submission.vocab_ger_4%>
<br>
<%= @submission.vocab_english_5%>	&nbsp;&nbsp;&nbsp;&nbsp;	<%= @submission.vocab_ger_5%>


<h2> Grade: <%= @submission.grade %></h2>

