<p id="notice"><%= notice %></p>

<div class="btn-group" role="group" aria-label="...">
	<th>

		<%if current_user.id == @submission.author%>  <!-- needs to be for author only -->
		<button type="button" class="btn btn-default"><%= link_to 'Edit Submission', edit_submission_path(@submission) %> </button> 
		<%end%>
	</th>
  
  <button type="button" class="btn btn-default"><%= link_to 'Return to Class Submissions', submissions_path %> </button>
</div>

<h1> <%= @submission.title %></h1>
<h3>Author: <%= @submission.name%></h3>

<h1> <%= @submission.notecard %>  </h1>
<h2> <%= @submission.vocabulary%></h2>

