<!DOCTYPE html>
<html>
<head>
  <title>GER 130A</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Deutsche Kultur durch Film", assignments_path, class:"navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Homepage", assignments_path %></li>
            <% if !current_user.admin?%>
              <li><%= link_to "meine Beiträge", submissions_mysubmiss_path %></li>
              <li><%= link_to "gemeinsamer Wortschatz",  assignments_classvocab_path %></li>
            <%end%>
            <% if current_user.admin? %>
              <li><%= link_to "Notenheft", assignments_gradebook_path %></li> 
           <% end %>
              <li><%= link_to "meine Lesezeichen", bookmarks_path %></li>
              
             </ul>
             <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to('abmelden', destroy_user_session_path, :method => :delete) %> </li>
          </ul>
         <%end%>

          
        </div><!--/.nav-collapse -->
      </div>
    </nav>








<div class="container">
<%= yield %>
</div>
<footer class="footer">
      <div class="container">
        <p>bei Fragen kontaktieren Sie bitte <a href='mailto:brandeisapprenticeship@gmail.com'>brandeisapprenticeship@gmail.com</a></p>
      </div>
    </footer>
</body>
</html>